<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Telefon.Properties.Settings.tlfConnectionString" connectionString="Data Source=HKILIC\SQLEXPRESS;Initial Catalog=tlf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Telefon.Properties.Settings.WebConnectionString" connectionString="Data Source=HKILIC\SQLEXPRESS;Initial Catalog=Web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>